.intro-content {
    min-height: 500px;
    width: 100%;
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-align: center;
}

.Typewriter{
    padding: 0 10px;
    min-height: 142px;
    font-size: 1.2em;
    font-weight: 600;
}

.Typewriter__cursor{
    color: #7510F7;
}

.img-container {
    display: flex;
    flex-direction: column;
}

.img-container img:nth-child(1), .img-container img:nth-child(2){
    height: 150px;
    width: 150px;
}

.cloud-container, .avatar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
}

.cloud-container {
    position: relative;
    margin-right: -10px;
    margin-bottom: -15px;
    height: 200px;
}

.click-me{
    position: absolute;
    top: 30px;
    border-radius: 30px;
    font-weight: 700;
    color: #7510F7;
    opacity: 1;
    padding: 30px 15px;
}

.click-me:hover{
    opacity: 1;
    transition: opacity .3s ease-in;
}

.avatar-container {
    margin-top: -45px;
    cursor: pointer;
}

.cloud-container img:nth-child(1) {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.avatar-container img{
    border-radius: 50%;
}

.img-container img:nth-child(3) {
    height: 150px;
}