.intro-content {
    min-height: 500px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-align: center;
}

.intro-content h2, .intro-content h3 {
    width: auto;
}

.img-container {
    display: flex;
    flex-direction: column;
}

.img-container img:nth-child(1), .img-container img:nth-child(2){
    height: 150px;
    width: 150px;
}

.cloud-container, .avatar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
}

.cloud-container {
    position: relative;
    margin-right: 80px;
    margin-bottom: -15px;
    height: 200px;
}

.cloud-container div{
    position: absolute;
    top: 65px;
    font-weight: 700;
}

.avatar-container {
    margin-top: -45px;
    cursor: pointer;
}

.cloud-container img:nth-child(1) {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.avatar-container img{
    border-radius: 50%;
}

.img-container img:nth-child(3) {
    height: 200px;

}













