@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');

.header{
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: auto;
    width: auto;
    margin-left: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Spectral', serif;
}

.header-content{
    height: 100%;
    width: auto;
    margin-right: 5%;
    display: flex;
    align-items: center;
}

.header-content div{
    height: auto;
    width: auto;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    font-family: 'Spectral', serif;
}

.cur-path{
    border-bottom: 1px solid white;
}

.header a{
    text-decoration: none;
}