
.header{
    position: fixed;
    top:0;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;;
    z-index: 3;
    font-family: 'Spectral', serif;
    font-size: 1.3rem;
}

.header-scrolled{
    border-bottom: 1px solid #E6ECF8;
}

.logo{
    height: auto;
    width: auto;
    margin-left: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content{
    height: 100%;
    width: auto;
    margin-right: 5%;
    display: flex;
    align-items: center;
}

.header-content div{
    height: auto;
    width: auto;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    font-family: 'Spectral', serif;
}

.cur-path{
    border-bottom: 2px solid #7510F7;
    border-radius: 2px;
}

.header a{
    text-decoration: none;
    color: black;
}

@media (max-width: 700px){
    .header{
        display: none;
    }
}